@font-face {
    font-family: RomanaEF-Light Regular;
    src: url(./RomanaEF-Light.otf);
}

h1{
    font-family: RomanaEF-Light Regular;
    font-size: 50px;
    display: flex;
    justify-content: center;
}